// background color
$bg-color: #FAFAFA;
// font color of footer
$dark-blue: #003569;
// copyright color of footer
$dark-grey: #999999;
$light-blue: #3897f0;
$border-color: #e6e6e6;
$light-grey: #efefef;
